<section class="book-box">
    <h5 class="book-box-heading">
        <span>Title:</span> <%= @book.title %>
    </h5>
    <h5 class="book-box-content">
        <span>Body:</span> <%= @book.body %>
    </h5>
</section>

<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Back", books_path %>